*
{

}

html 
{
    scroll-behavior: smooth;
}

body
{
    background-color: var(--forerunner-alloy);
}

::-webkit-scrollbar 
{

}

::-webkit-scrollbar-track 
{

}

::-webkit-scrollbar-thumb 
{

}

::-webkit-scrollbar-thumb:hover 
{

}

/*nav*/

/*Portfolio*/ /*Portfolio*/ /*Portfolio*/

.Portfolio{
    outline: 2px solid var(--blood);
}

/*S1*/ /*S1*/ /*S1*/

.Title{
    outline: 2px solid var(--forerunner-conversion);
    justify-content: center;
    text-align: center;
}

.Title h1{
    color: var(--forerunner-beam);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transition: 700ms ease;
}

.Title h1:hover{
    letter-spacing: 1px;
}

.Buttons{
    outline: 2px solid var(--forerunner-alloy-ridge-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Buttons button{
    font-family: 'Rammstein by Wojciech';
    background-color: var(--shadow);
    color: var(--LED);
    border: 3px solid var(--monitor);
    border-radius: 20px;
    transition: 0.4s;
    width: 35px;
    height: 35px;
}

.Buttons button:hover{
    border-radius: 6px;
    transition: 0.4s;
}

.B-Field{
    outline: 2px solid var(--soft-covi-wall);
    width: 45px;
    height: 45px;
    align-content: center;
    justify-content: center;
}

button#B-UP{
    transform:rotate(180deg);
}

button#B-LEFT{
    transform:rotate(90deg);
}

button#B-RIGHT{
    transform:rotate(-90deg);
}

button#B-UP:hover, button#B-DOWN:hover, button#B-LEFT:hover, button#B-RIGHT:hover{
    width: 45px;
}

button:active{
    background-color: var(--monitor);
    color: var(--forerunner-alloy-ridge-light);
    transition: 0.1s;
}



/**/

/**/

/*footer*/