*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 3px solid #b88bc9; */
    user-select: none; /*might be changed for user exp*/
}

html 
{
    scroll-behavior: smooth;
}

body
{
    display: grid;
    place-items: center;
    justify-content: center;
    width: 100vw; /*Change so POV cannot change*/
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--forerunner-alloy-ridge-dark);
}

img{
    vertical-align: middle;
}

::selection{
    background-color: var(--LED);
    color: var(--schflr);
}

/*Modal*/ /*Modal*/ /*Modal*/

.modal-fail, .modal-success{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    padding: 25px;
    position: absolute;
    top: 30%;
    background-color: var(--schflr); /*#992727*/
    border-radius: 12px;
    z-index: 2;
    display: none;
}

.modal-fail p, .modal-success p{
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 500;
}

.ms-text, .mf-text{
    align-content: center;
    color: var(--LED);
}

.ms-a, .mf-a{
    color: var(--rotstein-text);
}

.ms-result, .mf-result{
    opacity: 0;
    color: var(--rotstein-text);
    animation: fadeIn forwards;
    animation-duration: 1s;
    animation-delay: 1.5s;
}

.ms-icon, .mf-icon{
    align-content: center;
}

.ms-icon i, .mf-icon i{
    opacity: 0;
    width: 70px;
    height: 70px;
    border: 4px solid var(--forerunner-alloy-ridge);
    border-radius: 10px;
    background-color: var(--rotstein-text);
    font-size: 60px;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn forwards;
    animation-duration: 1s;
    animation-delay: 1.5s;
}

.fa-check{
    color: var(--hi-chief);
}

.fa-xmark{
    color: var(--mark-of-atriox);
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

button{
    cursor: pointer;
    border: none;
}

.btn{
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.btn-open{
    position: absolute;
    bottom: 150px;
}

.btn-close{
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
}

.overlay{
    transition: 0.8s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
    z-index: -1;
}

.reveal{
    display: flex;
}

.rol{
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    z-index: 1;
}

/*Login*/ /*Login*/ /*Login*/

.Login{
    width: 1000px;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login-Window{
    background-color: transparent;
    border-radius: 25px;
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 50px;
    box-shadow: inset 8px 8px 16px #202221, inset -8px -8px 16px #363837;
}



@media (max-width: 1000px){
    .Login{
        width: min-content;
        height: min-content;
        margin: 10px;
    }

    .Login-Window{
        width: 390px;
        height: min-content;
        padding: 30px;
    }
}

/*TOP*/ /*TOP*/ /*TOP*/

.Title{
    margin-bottom: 20px;
}

.Upper-Title{
    margin-bottom: 20px;
}

.Upper-Title h1{
    color: var(--schflr);
    font-size: 40px;
    margin-bottom: 25px;
    font-family: 'Poppins';
}

.Lower-Title{
    display: flex;
    flex-direction: column;
}

.Lower-Title b{
    color: var(--forerunner-alloy-sand);
    text-decoration: none;
    font-family: 'Poppins', 'Poppins';
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 15px;
}

.Lower-Title a{
    text-decoration: none;
    margin: auto;
}

.Lower-Title a b{
    color: var(--LED);
    text-decoration: none;
    font-family: 'Poppins', 'Poppins';
    font-weight: 700;
    transition: 0.3s;
}

.Lower-Title a b:hover{
    text-shadow: 0 0 10px #fff, 0 0 20px var(--schflr);
}



@media (max-width: 2000px){
    .Lower-Title b{
        font-size: 12px;
        margin-bottom: 15px;
    }
}

/*MID*/ /*MID*/ /*MID*/

.Line{
    width: 650px;
    border: 1px solid var(--monitor);
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Text-Field{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Input{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Input input{
    text-align: center;
    background-color: transparent;
    box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.1), inset -5px -5px 10px 0px rgba(0, 0, 0, 0.1);
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    color: var(--LED);
    background-color: var(--schflr);
    font-family: 'Poppins';
}

.Input input::placeholder{
    color: var(--forerunner-alloy);
    background-color: var(--forerunner-alloy-ridge-dark);
    box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.1), inset -5px -5px 10px 0px rgba(0, 0, 0, 0.1);
}

.Input input:focus{
    outline: none;
    color: var(--schflr);
    background-color: transparent;
    box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.1), inset -5px -5px 10px 0px rgba(0, 0, 0, 0.1);
}

.Input input:focus ~ p {
    background-color: var(--schflr);
}

.Text-Field-Mail{
    margin-bottom: 20px;
}

.Button{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Button button{
    font-family: 'Rammstein by Wojciech';
    background-color: var(--shadow);
    color: var(--LED);
    border: 3px solid var(--monitor);
    border-radius: 100%;
    transition: 0.4s;
    width: 80px;
    height: 80px;
    font-size: 40px;
    cursor: pointer;
}

.Button button:hover{
    border-radius: 10px;
    transition: 0.4s;
    text-shadow: 0 0 10px #fff, 0 0 40px var(--schflr);
}

.B-Field{
    width: 135px;
    height: 135px;
    margin: 10px;
    align-content: center;
    justify-content: center;
}

button#B-DOWN:hover{
    width: 120px;
}

.Button button:active{
    background-color: var(--forerunner-alloy);
    color: var(--forerunner-alloy-ridge-light);
    transition: 0.1s;
    text-shadow: 
    0 0 0px #fff, 0 0 20px var(--schflr);
}



@media (max-width: 1000px){
    .Line{
        width: 350px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .Text-Field{
        width: min-content;
        flex-direction: column;
    }
    
    .Input{
        margin-top: 10px;
    }

    .Input input{
        font-size: 26px;
    }
    
    .Text-Field-Mail{
        margin-bottom: 10px;
    }

    .Button button{
        width: 160px;
        height: 160px;
        font-size: 80px;
    }

    .B-Field{
        width: 255px;
        height: 175px;
    }
    
    button#B-DOWN:hover{
        width: 240px;
    }
}

/*BOT*/ /*BOT*/ /*BOT*/

.Register-Transfer{
    margin-top: 20px;
}

.Register-Transfer a{
    color: var(--forerunner-alloy-ridge);
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 10px;
}

.Rotstein-Symbol{
    margin-top: 45px;
    display: flex;
    align-items: center;
    text-align: center;
}

.RS-Text{
    color: var(--forerunner-alloy-sand);
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 15px;
}

.Rotstein-Symbol img{
    width: 50px;
    margin-left: 5px;
    transition: 0.5s;
}

.Rotstein-Symbol img:hover{
    box-shadow: 0 0 5px var(--rotstein-rot), 0 0 20px var(--rotstein-rot);
}

.Mention{
    margin-top: 40px;
}

.Mention b{
    color: var(--shadow);
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
}



@media (max-width: 1000px){
    .Rotstein-Symbol{
        margin-top: 30px;
    }
    
    .RS-Text{
        font-size: 12px;
    }
    
    .Rotstein-Symbol img{
        width: 40px;
        margin-left: 5px;
        transition: 0.5s;
    }
    
    .Mention{
        margin-top: 20px;
    }
    
    .Mention b{
        font-size: 10px;
    }
}
