*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid #b88bc9; */
    user-select: none;
}

html 
{
    scroll-behavior: smooth;
}

body
{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background:
    radial-gradient(ellipse at 10% 10%, var(--LED) -300%, transparent 40%),
    radial-gradient(ellipse at 100% 100%, var(--schwarz) -150%, transparent 40%);
    background-color: var(--forerunner-alloy-ridge-dark);
    user-select: none; /*might be changed for user exp*/
}

::-webkit-scrollbar{
    position: relative;
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--forerunner-alloy-ridge-light);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--forerunner-beam);
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-button{
    height: 50px;
}

h1, b, a{
    color: var(--forerunner-alloy-ridge-light);
    font-family: 'Poppins';
    font-weight: 500;
}

h1{
    font-size: 70px;
}

b{
    font-size: 30px;
}

a{
    transition: 0.5s;
    text-decoration: none;
}

img{
    vertical-align: middle;
}

@media (max-width: 2000px){
    h1{
        font-size: 50px;
    }
    
    b{
        font-size: 20px;
    }
}

/*Portfolio*/ /*Portfolio*/ /*Portfolio*/

.Portfolio{
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    width: 2000px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}



@media (max-width: 2000px){
    .Portfolio{
        width: 1000px;
    }
}

/*Bracket*/ /*Bracket*/ /*Bracket*/

.P-BracketUp, .P-BracketDown{
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.P-BracketDown{
    transform: rotate(180deg);
}

.P-BracketUp b, .P-BracketDown b{
    font-size: 100px;
    transition: 0.5s;
}

.P-BracketUp:hover b, .P-BracketDown:hover b{
    color: var(--forerunner-beam);
}

img[alt="BU-img-cream"], img[alt="BU-img-beam"]{
    margin: 30px;
    width: 100px;
    transition: 0.5s;
}

.P-BracketUp:hover img[src="./sources/assets/images/main/Marathon-c.png"], .P-BracketDown:hover img[src="./sources/assets/images/main/Marathon-c.png"]{ /*[alt="BU-img-cream"]*/
    opacity: 0;
}

img[alt="BU-img-cream"]{
    position: absolute;
}

.P-BU-b, .P-BD-b{
    opacity: 1;
}

.P-BU-b-50, .P-BD-b-50{
    opacity: 0;
    display: none;
}



@media (max-width: 2000px){
    .P-BracketUp b, .P-BracketDown b{
        font-size: 70px;
    }

    img[alt="BU-img-cream"], img[alt="BU-img-beam"]{
        margin: 20px;
        width: 70px;
    }

    .P-BU-b, .P-BD-b{
        opacity: 0;
        display: none;
    }

    .P-BU-b-50, .P-BD-b-50{
        opacity: 1;
        display:flex;
    }
}

/*S*/ /*S*/ /*S*/

.S1, .S2, .S3, .S4, .S5, .S6, .S7{
    width: 1600px;
    margin-top: 70px;
    margin-bottom: 70px;
}



@media (max-width: 2000px){
    .S1, .S2, .S3, .S4, .S5, .S6, .S7{
        width: 900px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

/*S1*/ /*S1*/ /*S1*/

.S1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

img[alt="S1-img"]{
    width: 400px;
    border-radius: 10px;
    border: 10px outset var(--forerunner-alloy-ridge-light);
    transition: 0.5s;
}

img[alt="S1-img"]:hover{
    border: 10px outset var(--forerunner-beam);
}

img[alt="S1-C"]{
    width: 60px;
    margin-bottom: 20px;
}

.S1-Card{
    position: relative;
    width: 700px;
    height: 400px;
    padding: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background: rgba(54, 48, 69, 0.1); /*Kartenfarbe,--wraith-blue*/
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid rgba(150, 150, 150, 1);
    border-left: 1px solid rgba(150, 150, 150, 1);
    border-right: 1px solid rgba(150, 150, 150, 1);
    border-bottom: 1px solid rgba(150, 150, 150, 1);
    backdrop-filter: blur(5px);
}

.S1-C-Up h1{
    margin-bottom: 20px;
}

.S1-C-Down a{
    text-decoration: underline double 3px;
}

.S1-C-Down a:hover{
    color: var(--forerunner-beam);
}



@media (max-width: 2000px){
    img[alt="S1-img"]{
        width: 300px;
    }
    
    img[alt="S1-C"]{
        width: 50px;
    }
    
    .S1-Card{
        width: 500px; /* User Choice */
        height: 285px; /* w / 3,5 = A --> A * 2 = h / */
        padding: 17px; /* p / 3,5 = A --> A * 2 = neo p / */
    }
    
    .S1-C-Up h1{
        margin-bottom: 11px; /* m / 3,5 = A --> A * 2 = neo m / */
    }
}

/*S2*/ /*S2*/ /*S2*/

.S2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.S2-Window{
    width: 1200px;
    -webkit-appearance: none;
    box-shadow: inset 8px 8px 16px #202221, inset -8px -8px 16px #363837;
    border-radius: 50px;
    padding: 50px;
    text-align: center;
}

.S2-Window h1{
    margin-bottom: 50px;
    text-decoration: underline 8px;
    animation: S2breath infinite alternate;
    animation-duration: 1s;
}

.S2 b{
    font-size: 35px;
}

@keyframes S2breath{
    from{
        text-shadow: 0 0 0px #fff;
    }
    to{
        text-shadow: 0 0 15px #fff;
    }
}

#S2-b{
    margin-bottom: 30px;
}



@media (max-width: 2000px){

}

/*S3*/ /*S3*/ /*S3*/

.S3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.S3-Strich1, .S3-Strich2{
    border: 6px solid var(--forerunner-alloy-ridge-light);
    border-radius: 50px;
    animation: S3breath infinite alternate;
    animation-duration: 1s;
}

.S3-Strich1{
    width: 1300px;
}

.S3-Strich2{
    width: 1200px;
}

.S3-Bilder{
    margin: 60px;
}

.S3-Bilder img{
    width: 1100px;
}

@keyframes S3breath{
    from{
        box-shadow: 0 0 0px #fff;
    }
    to{
        box-shadow: 0 0 15px #fff;
    }
}



@media (max-width: 2000px){
    .S3-Strich1, .S3-Strich2{
        border: 6px solid var(--forerunner-alloy-ridge-light);
        border-radius: 50px;
    }
    
    .S3-Strich1{
        width: 950px;
    }
    
    .S3-Strich2{
        width: 850px;
    }
    
    .S3-Bilder img{
        width: 900px;
    }
}

/*S4*/ /*S4*/ /*S4*/

.S4{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.S4-P-Title{
    -webkit-appearance: none;
    box-shadow: inset 8px 8px 16px #202221, inset -8px -8px 16px #363837;
    border-radius: 50px;
    padding: 50px;
    text-align: center;
}

.S4-P-Title h1{
    text-decoration: underline 8px;
    animation: S2breath infinite alternate;
    animation-duration: 1s;
}

.S4-Projes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.S4-P{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.S4-P-1, .S4-P-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.S4-P-1 a, .S4-P-2 a{
    margin-bottom: 20px;
}

.S4-P-1 a div, .S4-P-2 a div{
    -webkit-appearance: none;
    box-shadow:  5px 5px 10px #202221, -5px -5px 10px #363837;
    border-radius: 25px;
    padding: 25px;
    margin: 20px;
}

.S4-P-1 a div:active, .S4-P-2 a div:active{
    box-shadow: inset 5px 5px 10px #202221, inset -5px -5px 10px #363837;
}

img[alt="S4-P0.4-img"], img[alt="S4-P0.5-img"]{
    width: 700px;
    border-radius: 12.5px;
    opacity: 0.5;
    transition: 0.5s;
}

.S4-Projes a div:hover img{
    opacity: 1;
}

.S4-P-1-Text, .S4-P-2-Text{
    -webkit-appearance: none;
    box-shadow: inset 8px 8px 16px #202221, inset -8px -8px 16px #363837;
    border-radius: 25px;
    padding: 25px;
}

.S4-More a{
    font-size: 60px;
    background: #2b2d2c;
    box-shadow:  5px 5px 10px #202221, -5px -5px 10px #363837;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.S4-More a:hover{
    text-shadow: 0 0 15px #fff;
}

.S4-More a:active{
    box-shadow: inset 5px 5px 10px #202221, inset -5px -5px 10px #363837;
    text-shadow: 0 0 0px #fff;
}



@media (max-width: 2000px){
    .S4-Projes{
        flex-direction: column;
    }

    .S4-P{
        flex-direction: column;
    }

    .S4-P-1-Text, .S4-P-2-Text{
        margin-bottom: 75px;
    }
    
    .S4-More a{
        margin-top: 20px;
    }
}

/*S4*/ /*S4*/ /*S4*/

.S5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.S5-C-Title{
    -webkit-appearance: none;
    box-shadow: inset 8px 8px 16px #202221, inset -8px -8px 16px #363837;
    border-radius: 50px;
    padding: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.S5-C-Title h1{
    text-decoration: underline 8px;
    animation: S2breath infinite alternate;
    animation-duration: 1s;
}

.S5-Certificates a{
    margin-bottom: 20px;
}

.S5 a div:active{
    box-shadow: inset 5px 5px 10px #202221, inset -5px -5px 10px #363837;
}

.S5-Certificates{
    width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.S5-C-1{
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.S5-C-1-img{
    -webkit-appearance: none;
    box-shadow:  5px 5px 10px #202221, -5px -5px 10px #363837;
    border-radius: 25px;
    padding: 25px;
}

img[alt="S5-img"]{
    width: 600px;
    border-radius: 12.5px;
    opacity: 0.5;
    transition: 0.5s;
}

img[alt="S5-img"]:hover{
    opacity: 1;
}

.S5 a div:hover img{
    opacity: 1;
}

.S5-C-1-Text{
    -webkit-appearance: none;
    box-shadow: inset 8px 8px 16px #202221, inset -8px -8px 16px #363837;
    border-radius: 25px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



@media (max-width: 2000px){
    .S5-Certificates a{
        margin-bottom: 40px;
    }

    .S5-C-1-Text{
        padding: 25px;
    }
}

/*S6*/ /*S6*/ /*S6*/

.S6{
    display: flex;
    justify-content: center;
    align-items: center;
}

.S6 b{
    margin-left: 20px;
    margin-right: 20px;
}

.S6-BTTTB{
    display: flex;
    align-items: center;
}

.S6-BTTTB a{

    background: #2b2d2c;
    box-shadow:  5px 5px 10px #202221, -5px -5px 10px #363837;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    align-items: center;
}

.S6-BTTTB a:hover{
    text-shadow: 0 0 10px #fff;
}

.S6-BTTTB a:active{
    box-shadow: inset 5px 5px 10px #202221, inset -5px -5px 10px #363837;
    text-shadow: 0 0 0px #fff;
}

.S6-BTTTB i{
    color: var(--forerunner-alloy-ridge-light);
    font-size: 30px;
}



@media (max-width: 2000px){
    .S6 b{
        margin-left: 10px;
        margin-right: 10px;
    }

    .S6-BTTTB a{
        padding: 15px;
        border-radius: 20px;
    }

    .S6-BTTTB i{
        font-size: 15px;
    }
}

/*S7*/ /*S7*/ /*S7*/

.S7{
    display: flex;
    justify-content: center;
    align-items: center;
}

.S7-Text{
    display: flex;
    align-items: center;
    text-align: center;
}

.S7-Text b{
    color: var(--forerunner-alloy-ridge);
    font-size: 20px;
}

.S7-Text img{
    width: 60px;
    margin-left: 10px;
    transition: 0.5s;
}

.S7-Text img:hover{
    box-shadow: 0 0 5px var(--rotstein-rot), 0 0 20px var(--rotstein-rot);
}



@media (max-width: 2000px){

}
